@-ms-viewport {
	width: device-width;
}

body {
	margin: 0;
}

.container,
.container-fluid {
	@mixin clearfix;
	box-sizing: border-box;
	padding: 0 var(--gutter);
	margin: 0 auto;
}

.row {
	font-size: 0;
	margin: 0 -var(--gutter);
}

.col-xs, .col-sm, .col-md, .col-lg {
	&-1, &-2, &-3, &-4, &-5, &-6, &-7, &-8, &-9, &-10, &-11, &-12 {
		display: inline-block;
		vertical-align: top;
		font-size: 1rem;
		width: 100%;
		padding: 0 var(--gutter);
		box-sizing: border-box;
		position: relative;
		min-height: 1px;
	}
}

@define-mixin grid $size {
	.col-$(size) {
		@mixin grid-item width;
	}

	.pull-$(size) {
		@mixin grid-item right;

		&-0 {
			right: auto;
		}
	}

	.push-$(size) {
		@mixin grid-item left;

		&-0 {
			left: auto;
		}
	}

	.offset-$(size) {
		@mixin grid-item margin-left;

		&-0 {
			margin-left: 0;
		}
	}
}

@mixin grid xs;

@media (min-width: 768px) {
	.container {
		width: 750px;
	}

	@mixin grid sm;
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}

	@mixin grid md;
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}

	@mixin grid lg;
}

