.hide,
.hidden {
	display: none !important;
}
.invisible {
	visibility: hidden;
}
.show {
	display: block !important;
}

.visible {
	&-xs, &-sm, &-md, &-lg {
		display: none !important;
	}
}

@define-mixin visible $size {
	.visible-$(size) {
		display: block !important;
	}
	table.visible-$(size) {
		display: table !important;
	}
	tr.visible-$(size) {
		display: table-row !important;
	}
	th.visible-$(size),
	td.visible-$(size) {
		display: table-cell !important;
	}

	.hidden-$(size) {
		display: none !important;
	}
}

@media (max-width: 767px) {
	@mixin visible xs;
}

@media (min-width: 768px) and (max-width: 991px) {
	@mixin visible sm;
}

@media (min-width: 992px) and (max-width: 1199px) {
	@mixin visible md;
}

@media (min-width: 1200px) {
	@mixin visible lg;
}
