@define-mixin pull $size {
	.pull$(size) {
		&-left {
			float: left;
		}

		&-right {
			float: right;
		}

		&-center {
			display: block;
			float: none;
			margin-right: auto;
			margin-left: auto;
		}
	}
}

@define-mixin text $size {
	.text$(size) {
		&-left {
			text-align: left;
		}

		&-right {
			text-align: right;
		}

		&-center {
			text-align: center;
		}
	}
}

.clearfix {
	clear: fix;
}

.text{
	&-middle {
		vertical-align: middle;
	}

	&-bottom {
		vertical-align: bottom;
	}
}

@mixin pull;
@mixin text;

@media ($viewport-sm) {
	@mixin pull -sm;
	@mixin text -sm;
}

@media ($viewport-md) {
	@mixin pull -md;
	@mixin text -md;
}

@media ($viewport-lg) {
	@mixin pull -lg;
	@mixin text -lg;
}
