@-webkit-viewport {
	width: device-width;
}

@-moz-viewport {
	width: device-width;
}

@-ms-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}

.container {
	box-sizing: border-box;
	padding-left: var(--gutter);
	padding-right: var(--gutter);
	margin-left: auto;
	margin-right: auto;
	clear: fix;
}
