.row {
	font-size: 0;
	margin-left: -var(--gutter);
	margin-right: -var(--gutter);
}

.col, .col-sm, .col-md, .col-lg {
	&-0, &-1, &-2, &-3, &-4, &-5, &-6, &-7, &-8, &-9, &-10, &-11, &-12 {
		display: inline-block;
		vertical-align: top;
		font-size: 1rem;
		width: 100%;
		padding-left: var(--gutter);
		padding-right: var(--gutter);
		box-sizing: border-box;
		position: relative;
		min-height: 1px;
	}
}

@define-mixin grid $suffix {
	.col$(suffix) {
		@for $i from 12 to 1 {
			&-$i {
				width: calc($i / 12 * 100%);
			}
		}

		&-0 {
			width: auto;
		}
	}

	.pull$(suffix) {
		@for $i from 12 to 1 {
			&-$i {
				right: calc($i / 12 * 100%);
			}
		}

		&-0 {
			right: 0;
		}
	}

	.push$(suffix) {
		@for $i from 12 to 1 {
			&-$i {
				left: calc($i / 12 * 100%);
			}
		}

		&-0 {
			left: 0;
		}
	}
}

@mixin grid;

@media (--sm) {
	@mixin grid -sm;
}

@media (--md) {
	@mixin grid -md;
}

@media (--lg) {
	@mixin grid -lg;
}

