@define-mixin show {
	display: block !important;

	&-inline {
		display: inline-block !important;
	}

	table& {
		display: table !important;
	}

	tr& {
		display: table-row !important;
	}

	th&, td& {
		display: table-cell !important;
	}
}

@define-mixin hide {
	& {
		display: none !important;
	}
}

.visible {
	@mixin show;
}

.hidden {
	@mixin hide;
}

@media (--sm) {
	.visible-sm {
		@mixin show;
	}

	.hidden-sm {
		@mixin hide;
	}
}

@media (--md) {
	.visible-md {
		@mixin show;
	}

	.hidden-md {
		@mixin hide;
	}
}

@media (--lg) {
	.visible-lg {
		@mixin show;
	}

	.hidden-lg {
		@mixin hide;
	}
}
